In [ ]:
# Dictionary can remove at a time one value using pop() or del , But you can use a loop.
# To add multiple values for a key It's simple using update()
# To add multiple key:value pairs It's also simple using update([(key,value),(key,value),(key,value)]) , within update a list of 
# different tuples indicating a separate key value pair

In [1]:
ali = {'name':'Ali Hassan','age':19,'gender':'male',26:'id'}
print(ali)
type(ali)

{'name': 'Ali Hassan', 'age': 19, 'gender': 'male', 26: 'id'}

dict

In [4]:
# Simple Accesing of keys
print(ali['gender'])
print(ali[26])

male
id

In [6]:
# Accesing using get() method
ali.get('name')

'Ali Hassan'

In [7]:
# Changing Value and assigning a new key:value pair
ali['age'] = 20
ali['email'] = 'abdulla...@gmail.com'
print(ali)

{'name': 'Ali Hassan', 'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com'}

In [8]:
# Removing using pop() and popitem()
print(ali.pop(26))
print(ali.pop('gender'))
print(ali.popitem())
ali

id
male
('email', 'abdulla...@gmail.com')

{'name': 'Ali Hassan', 'age': 20}

In [10]:
# Clear() method
ali.clear()
print(ali)

{}

In [11]:
del ali
print(ali)

NameError: name 'ali' is not defined

In [13]:
# keys() method to display all keys and Values() method to display all values
ali = {'name': 'Ali Hassan', 'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com'}
print(ali)
print(ali.keys())
print(ali.values())

{'name': 'Ali Hassan', 'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com'}
dict_keys(['name', 'age', 'gender', 26, 'email'])
dict_values(['Ali Hassan', 20, 'male', 'id', 'abdulla...@gmail.com'])

In [14]:
# items() method for all key:Value pairs
ali.items()

dict_items([('name', 'Ali Hassan'), ('age', 20), ('gender', 'male'), (26, 'id'), ('email', 'abdulla...@gmail.com')])

In [22]:
# Not used yet
ali.update()

In [27]:
# Setdefault() returns the value of specific key.
ali.setdefault('name')

Ali Hassan

In [26]:
ali.setdefault('address')

In [29]:
print(ali.get('name'))
print(ali['name'])

Ali Hassan
Ali Hassan

In [30]:
print(ali)

{'name': 'Ali Hassan', 'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com', 'address': None}

In [38]:
print(ali)

{'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com', 'address': None}

In [37]:
print(ali.pop('name'))

KeyError: 'name'

In [27]:
i = ['sub','major','minor']
j = ['science','tech','computer']
ali.fromkeys(i,j)

{'sub': ['science', 'tech', 'computer'],
 'major': ['science', 'tech', 'computer'],
 'minor': ['science', 'tech', 'computer']}

In [41]:
ali.fromkeys('int','science')

{'i': 'science', 'n': 'science', 't': 'science'}

In [43]:
print(ali)
for c in ali:
    print(c)

{'age': 20, 'gender': 'male', 26: 'id', 'email': 'abdulla...@gmail.com', 'address': None}
age
gender
26
email
address

In [6]:
# This is used to add multiple key values But it is considering as a 1 key:value pair
ali = {}
ali['name','age','address',26] = ['Ali Hassan',19,'Nuanawesr P/O hafizanad','id']

In [7]:
print(ali)

{('name', 'age', 'address', 26): ['Ali Hassan', 19, 'Nuanawesr P/O hafizanad', 'id']}

In [32]:
# Another method
key = 'name'
ali.setdefault(key)
print(ali)

{('name', 'age', 'address', 26): ['Ali Hassan', 19, 'Nuanawesr P/O hafizanad', 'id'], 'name': [21, 21], 'gen': None}

In [33]:
ali[key].append(21)
print(ali)

{('name', 'age', 'address', 26): ['Ali Hassan', 19, 'Nuanawesr P/O hafizanad', 'id'], 'name': [21, 21, 21], 'gen': None}

In [34]:
# Another method
x = ['gen','No.']
ali.fromkeys(x,'male')

{'gen': 'male', 'No.': 'male'}

In [35]:
print(ali)

{('name', 'age', 'address', 26): ['Ali Hassan', 19, 'Nuanawesr P/O hafizanad', 'id'], 'name': [21, 21, 21], 'gen': None}

In [39]:
ali.setdefault('gen')

In [40]:
print(ali)

{('name', 'age', 'address', 26): ['Ali Hassan', 19, 'Nuanawesr P/O hafizanad', 'id'], 'name': [21, 21, 21], 'gen': None}

In [41]:
ali

{('name', 'age', 'address', 26): ['Ali Hassan',
  19,
  'Nuanawesr P/O hafizanad',
  'id'],
 'name': [21, 21, 21],
 'gen': None}

In [43]:
x = ['gen','No.']
ali.fromkeys(x,21)

{'gen': 21, 'No.': 21}

In [44]:
ali

{('name', 'age', 'address', 26): ['Ali Hassan',
  19,
  'Nuanawesr P/O hafizanad',
  'id'],
 'name': [21, 21, 21],
 'gen': None}

In [1]:
# Adding a new key value pair , we can also add multiple values for a key
abc = {'name':'Ali','age':19, 21:'id'}
abc.update({'gen':['male','female','other']})
print(abc)

{'name': 'Ali', 'age': 19, 21: 'id', 'gen': ['male', 'female', 'other']}

In [55]:
abc.setdefault('sunject')
print(abc)

{'name': 'Ali', 'age': 19, 21: 'id', 'gen': ['male', 'female', 'other'], 'sunject': None}

In [56]:
abc['sunject'].append('science')

AttributeError: 'NoneType' object has no attribute 'append'

In [74]:
abc.update({'gen':['male', 'female', 'other','specify']})

In [75]:
print(abc)

{'name': 'Ali', 'age': 19, 21: 'id', 'gen': ['male', 'female', 'other', 'specify'], 'sunject': None, 'where': 30, 'who': 40, 'when': 50, 60: 'why'}

In [61]:
# Adding multiple key values
abc.update([('where',30),('who',40),('when',50),(60,'why')])

In [62]:
print(abc)

{'name': 'Ali', 'age': 19, 21: 'id', 'gen': ['male', 'female', 'other'], 'sunject': None, 'where': 30, 'who': 40, 'when': 50, 60: 'why'}