In [1]:
# Del method is used to delete multiple items from lists i:e:-
list = [1,2,3,4,5,6,7,8,9]
del list[4:-1]
print(list)

[1, 2, 3, 4, 9]

In [2]:
# We can also use FOR loop for deleting , The multilpes of 2 will remain undeleted
list = [num for num in list if num%2 == 0]
print(list)

[2, 4]

In [ ]:
# Python List Methods
# Methods that are available with list object 

# Are accessed as list.method(). 
'''
append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert()- I nsert an item at the defined index
remove() - Removes an item from the list
pop() - Removes and returns an element at the given index
clear() - Removes all items from the list
index() - Returns the index of the first matched item
count() - Returns the count of number of items passed as an argument
sort() - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list
'''

In [43]:
# Simple List
Ali = ['BMW','Mercedes','Chevrolet','Nissan','Toyota','Lucid','Honda']
print(Ali)

['BMW', 'Mercedes', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda']

In [44]:
# Append() method
Ali.append('Suzuki')
print(Ali)

['BMW', 'Mercedes', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Suzuki']

In [45]:
# extend() method
Ali.extend(['Mezerati','BMW','GTR','Lexus'])
print(Ali)

['BMW', 'Mercedes', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Suzuki', 'Mezerati', 'BMW', 'GTR', 'Lexus']

In [46]:
# Insert() method
Ali.insert(0,'Range Rover')
Ali[:]

['Range Rover',
 'BMW',
 'Mercedes',
 'Chevrolet',
 'Nissan',
 'Toyota',
 'Lucid',
 'Honda',
 'Suzuki',
 'Mezerati',
 'BMW',
 'GTR',
 'Lexus']

In [47]:
#Remove() method . Removes only first occurence of value
Ali.remove('BMW')
print(Ali)

['Range Rover', 'Mercedes', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Suzuki', 'Mezerati', 'BMW', 'GTR', 'Lexus']

In [48]:
# Pop() method . By default last element is popped
Ali.pop()

'Lexus'

In [49]:
Ali.pop(1)

'Mercedes'

In [50]:
print(Ali)

['Range Rover', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Suzuki', 'Mezerati', 'BMW', 'GTR']

In [51]:
Ali.insert(6,'Nissan')
print(Ali)

['Range Rover', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Nissan', 'Suzuki', 'Mezerati', 'BMW', 'GTR']

In [52]:
# Index() method
Ali.index('Nissan')

2

In [53]:
Ali.index('Nissan',3,-1)

6

In [54]:
# Count() method
Ali.count('Nissan')

2

In [55]:
# Sort() method
Ali.sort()

In [56]:
print(Ali)

['BMW', 'Chevrolet', 'GTR', 'Honda', 'Lucid', 'Mezerati', 'Nissan', 'Nissan', 'Range Rover', 'Suzuki', 'Toyota']

In [57]:
# Reverse() method
Ali.reverse()

In [58]:
print(Ali)

['Toyota', 'Suzuki', 'Range Rover', 'Nissan', 'Nissan', 'Mezerati', 'Lucid', 'Honda', 'GTR', 'Chevrolet', 'BMW']

In [59]:
# Copy() method
Ali.copy()

['Toyota',
 'Suzuki',
 'Range Rover',
 'Nissan',
 'Nissan',
 'Mezerati',
 'Lucid',
 'Honda',
 'GTR',
 'Chevrolet',
 'BMW']

In [60]:
# Clear() method
Ali.clear()

In [61]:
print(Ali)

[]

In [ ]:
'''
Built-in Functions with List
all()	Return True if all elements of the list are true 
        (or if the list is empty).
any()	Return True if any element of the list is true. 
        If the list is empty, return False.
enumerate()	Return an enumerate object. It contains the index 
            and value of all the items of list as a tuple.
len()	Return the length (the number of items) in the list.
list()	Convert an iterable (tuple, string, set, dictionary) to a list.
max()	Return the largest item in the list.
min()	Return the smallest item in the list
sorted()	Return a new sorted list (does not sort the list itself).
sum()	Return the sum of all elements in the list.
'''

In [9]:
Ali = ['Range Rover', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Nissan', 'Suzuki', 'Mezerati', 'RMW', 'GTR']
print(Ali)

['Range Rover', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Nissan', 'Suzuki', 'Mezerati', 'RMW', 'GTR']

In [10]:
# All() function
all(Ali)

True

In [11]:
# Any function
any(Ali)

True

In [12]:
# Enumerate function
for i,j in enumerate(Ali):
    print(i,j)

0 Range Rover
1 Chevrolet
2 Nissan
3 Toyota
4 Lucid
5 Honda
6 Nissan
7 Suzuki
8 Mezerati
9 RMW
10 GTR

In [37]:
# Len() function
len(Ali)

11

In [4]:
Set = (1,2,3,5,8,6,9,2,2,6)

In [5]:
# List() function
ddd = list(Set) 
print(ddd)

[1, 2, 3, 5, 8, 6, 9, 2, 2, 6]

In [40]:
# Min() funtion , only display 'Min Alfa order' not by smallest member
min(Ali)

'Chevrolet'

In [41]:
# Max() funtion , only display 'Max Alfa order' not by largest member
max(Ali)

'Toyota'

In [42]:
# Sorted() function , Only sort in Alfa order not by 'smallest' member
sorted(Ali)

['Chevrolet',
 'GTR',
 'Honda',
 'Lucid',
 'Mezerati',
 'Nissan',
 'Nissan',
 'RMW',
 'Range Rover',
 'Suzuki',
 'Toyota']

In [43]:
print(Ali)

['Range Rover', 'Chevrolet', 'Nissan', 'Toyota', 'Lucid', 'Honda', 'Nissan', 'Suzuki', 'Mezerati', 'RMW', 'GTR']

In [48]:
# Sum() function , Only supported for int and float
aa = [1,2,3,4,5,6,6,7,4.5]
sum(aa)

38.5