### These are List Concepts

In [3]:
list = [1,2,3,4,5,6,7]
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [9]:
print(list[0])
print(list[-1])
print(list[-7])
print(list[0:3])
print(list[3:7])
print(list[:])

1
7
1
[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [10]:
list[6] = 8
print(list)

[1, 2, 3, 4, 5, 6, 8]

In [13]:
list[6] = 10
print(list)

[1, 2, 3, 4, 5, 6, 10]

In [17]:
Ali = [1,2]
print(Ali)
Ali[1] = 3
print(Ali)

[1, 2]
[1, 3]

In [20]:
print(list[1:-1])

[2, 3, 4, 5, 6]

In [33]:
# We Can Use/assign/change a list's elements with float,string,int and also boolean Data Types.
list[-1] = "abdullahshams216@gmail.com"
print(list)

[1, 2, 3, 4, 5, 6, 'abdullahshams216@gmail.com']

In [4]:
Ali = []
print(Ali)
type(Ali)

[]

list

### This is Sets concepts

In [4]:
Set = {1,2,3,6,4,4,4,5,5}
print(Set)

{1, 2, 3, 4, 5, 6}

In [50]:
Set.add(50)
Set.add('Ali')
Set.add(33)
print(Set)

{'Ali', 1, 2, 3, 4, 5, 6, 33.345, 33, 50, -33.345}

In [51]:
Set.add(False)
print(Set)

{'Ali', 1, 2, 3, 4, 5, 6, 33.345, 33, False, 50, -33.345}

In [5]:
Ali = {1,2,3,-1,-2,-3,2.5,3.5,0,'bar','egg','cat'}
print(Ali)
print(Set | Ali) # To merge two sets

{0, 1, 2, 3, 2.5, 3.5, 'bar', 'cat', -2, 'egg', -3, -1}
{0, 1, 2, 3, 4, 5, 6, 2.5, 3.5, 'egg', 'bar', 'cat', -1, -3, -2}

In [28]:
Ali = {'bar','egg','egg'}
print(Ali)
type(set())

{'egg', 'bar'}

set

### This is Dictionary Concepts

In [3]:
dic = {'Ali':19,'Ahmad':20,'Manan':21}
print(dic)
dic['Ali'] = 17
print(dic)
print(dic['Manan'])
dic2 = {'Ali':19,'Ahmad':20,'Manan':21,'Mana':19.5,'Manan':19}
print(dic2)
dic2['Mana'] = 'string'
print(dic2)
type(dic2)
dic3 = {'class':'BS'}
dnew = dic2 | dic3

{'Ali': 19, 'Ahmad': 20, 'Manan': 21}
{'Ali': 17, 'Ahmad': 20, 'Manan': 21}
21
{'Ali': 19, 'Ahmad': 20, 'Manan': 19, 'Mana': 19.5}
{'Ali': 19, 'Ahmad': 20, 'Manan': 19, 'Mana': 'string'}

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

### This is Tuple Concepts

In [20]:
tuple = ('Ali','Ahmad','Manan','Hanan')
print(tuple)

('Ali', 'Ahmad', 'Manan', 'Hanan')

In [24]:
tuple2 = 'Ali','Ahmad','Manan','Hanan'
print(tuple2)
tuple3 = 'Ali','Ahmad','Manan','Hanan','Ali','Manan'
print(tuple3)

('Ali', 'Ahmad', 'Manan', 'Hanan')
('Ali', 'Ahmad', 'Manan', 'Hanan', 'Ali', 'Manan')

In [23]:
print(tuple[0])
print(tuple[2])
print(tuple[0:2])
print(tuple[0:-2])
print(tuple[0:-1])
print(tuple[0:1])
print(tuple[:])

Ali
Manan
('Ali', 'Ahmad')
('Ali', 'Ahmad')
('Ali', 'Ahmad', 'Manan')
('Ali',)
('Ali', 'Ahmad', 'Manan', 'Hanan')

In [25]:
tuple3[2] = 'Mustafa'
print(tuple3)

TypeError: 'tuple' object does not support item assignment

In [27]:
type(())

tuple

In [39]:

y = 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222
type(y)

int

In [38]:
x = 2222
type(x)

int