In [1]:
l1 = ('dog','parrot','cat','monkey','lion')
l2 = [pet.upper() for pet in l1]
l2

['DOG', 'PARROT', 'CAT', 'MONKEY', 'LION']

In [6]:
l1 = ('dog','carrot','cat','monkey','lion')
l2_c_letters = [pet for pet in l1 if pet.startswith('c')]
l2_c_letters

['carrot', 'cat']

### Conditional Statements in List Comrehension
1. [ expression for item in iterable if some-condition]

In [2]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = [x**2 for x in l1 if x%2 == 0]
l2

[4, 16, 36, 64]

In [ ]:
### List Comprehension for more complex conditions can be simple by using function in the condition block.

In [1]:
def four_leg(pet):
    return pet in ('dog','cat','horse','monkey','lion')
print(four_leg('bird'))
print(four_leg('monkey'))

False
True

In [11]:
pets = ['dog','cat','horse','monkey','lion','eagle','sparrow']
four_leg_pets = [pet.capitalize() for pet in pets if four_leg(pet)]
four_leg_pets

['Dog', 'Cat', 'Horse', 'Monkey', 'Lion']

### Conditional assignment ( assignming values to list based on conditon)

In [3]:
x = 6
l1 = [1,2,3,4,5,6,7,8,9]
small = [num if num <= x else x for num in l1]
print(small)
large = [num if num >= x else x for num in l1]
print(large)

[1, 2, 3, 4, 5, 6, 6, 6, 6]
[6, 6, 6, 6, 6, 6, 7, 8, 9]

In [12]:
import pandas as pd
pets2 = pd.Series(pets)
#pets2
print(pets2.map(str.upper))
pets = pd.DataFrame(pets)

0        DOG
1        CAT
2      HORSE
3     MONKEY
4       LION
5      EAGLE
6    SPARROW
dtype: object

In [15]:
pets[0] = pets[0].map(str.upper)
pets

         0
0      DOG
1      CAT
2    HORSE
3   MONKEY
4     LION
5    EAGLE
6  SPARROW

In [6]:
list(map(str.upper,pets))

['DOG', 'CAT', 'HORSE', 'MONKEY', 'LION', 'EAGLE', 'SPARROW']

In [13]:
print(list(map(str.upper, pets)))

['DOG', 'CAT', 'HORSE', 'MONKEY', 'LION', 'EAGLE', 'SPARROW']

In [16]:
name = 'ali'
print(str.upper)
print(str.upper(name))
print(name.upper())

<method 'upper' of 'str' objects>
ALI
ALI

### nested list Comprehensions

In [17]:
### Without list comprehension
l1 = ((2,3,7,8), (1,2,3))
l2 = []
for item in l1:
    for i in item:
        l2.append(i**2)
l2

[4, 9, 49, 64, 1, 4, 9]

In [18]:
### using list comprehension
l2 = [i**2 for item in l1 for i in item]
l2

[4, 9, 49, 64, 1, 4, 9]

### Set Comprehension

In [1]:
### Syntax : {expression for item in iterable}

In [5]:
lis = [1,2,2,3,5,9,8,8,20,11,14,14,16,77]
Even_list = [ num for num in lis if num%2 == 0]
print(f'{Even_list} this is even lists , with duplicates evens\n\n')
Even_set = { num for num in lis if num%2 == 0}
print(f'{Even_set} this is even set , without duplicates ')

[2, 2, 8, 8, 20, 14, 14, 16] this is even lists , with duplicates evens


{2, 8, 14, 16, 20} this is even set , without duplicates

### Dictionary Comprehension

In [7]:
### Syntax : { key_expression : value_expression for item in iterable}

In [8]:
words = ('python', 'is', 'a', 'big', 'snake')
len_words = {word : len(word) for word in words}
print(len_words)

{'python': 6, 'is': 2, 'a': 1, 'big': 3, 'snake': 5}

In [9]:
len_words = {word : len(word) for word in words if word.startswith('p')}
print(len_words)

{'python': 6}