In [1]:
tuple = (1,2,3,4,5)
type(tuple)

tuple

In [2]:
tuple = (1,2,2.5,3.5,'hello','welcome')
print(tuple)
type(tuple)

(1, 2, 2.5, 3.5, 'hello', 'welcome')

tuple

In [3]:
tup = (1,2,3,[2.5,3.5,4.5])
print(tup)

(1, 2, 3, [2.5, 3.5, 4.5])

In [4]:
tup = (1,2,3,(4,5,6))
print(tup)

(1, 2, 3, (4, 5, 6))

In [5]:
tup = 1,2,3
type(tup)

tuple

In [2]:
tup = ('mon','tue','wed','thru','fri','sat','sun')
tup[2]

'wed'

In [3]:
tup[2][1]

'e'

In [4]:
# Searching happen in asc order
tup[-4:-1]

('thru', 'fri', 'sat')

In [5]:
tup[-6][-1]

'e'

In [6]:
tup[::-1]

('sun', 'sat', 'fri', 'thru', 'wed', 'tue', 'mon')

In [7]:
tup[::1]

('mon', 'tue', 'wed', 'thru', 'fri', 'sat', 'sun')

In [8]:
tup[::2]

('mon', 'wed', 'fri', 'sun')

In [9]:
tup[::3]

('mon', 'thru', 'sun')

In [10]:
tup[-7:-5]

('mon', 'tue')

In [11]:
tup[:-5]

('mon', 'tue')

In [12]:
#Converting tuple into list
abc = list(tup)

In [13]:
type(abc)

list

In [37]:
# Index() method can be used with tuples
my_data = (1,1, [9, 8, 7], "World")
print(my_data.index('World'))
print(my_data.index([9,8,7]))
print(len(my_data))
print(my_data.count(1))
print(my_data[2][0])

3
2
4
2
9

In [36]:
# List inside a Tuple can be changed but not whole tuple .
my_data = (1,1, [9, 8, 7], "World")
print(my_data)
my_data[2][0] = 99
print(my_data)

(1, 1, [9, 8, 7], 'World')
(1, 1, [99, 8, 7], 'World')

In [38]:
tuple1 = ('orange','apple','grapes','banana')
for fruit in tuple1:
    print(fruit)

orange
apple
grapes
banana

In [39]:
print(8 in tuple1)
print('mango' not in tuple1)
print('orange' in tuple1)

False
True
True

In [40]:
del tuple1

In [41]:
print(tuple1)

NameError: name 'tuple1' is not defined