In [3]:
names = [1,2,2,2,1,3,4,5,5,5,6,7,7,5]
dup = []
def duplicate_check(lst):
    for i in range(len(lst)):
        for j in range(i+1,len(lst)):
            if lst[i] == lst[j] and \
            lst[i] not in dup:
                dup.append(lst[i])
    return (dup , len(dup))
x,y = duplicate_check(names)
print(f'Duplicate items lists is {x}')
print(f'Duplicate items lenght is {y}')

Duplicate items lists is [1, 2, 5, 7]
Duplicate items lenght is 4

In [4]:
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
import warnings
warnings.filterwarnings('ignore')
df['species'] = df['species'].map(str.upper)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  SETOSA
1           4.9          3.0           1.4          0.2  SETOSA
2           4.7          3.2           1.3          0.2  SETOSA
3           4.6          3.1           1.5          0.2  SETOSA
4           5.0          3.6           1.4          0.2  SETOSA

In [7]:
import numpy as np
arr = np.array(names)
arr

array([1, 2, 2, 2, 1, 3, 4, 5, 5, 5, 6, 7, 7, 5])

In [11]:
uni , count = np.unique(arr , return_counts=True)
print(f'Unique items in array is {uni}')
print(f'Count of items is {count}')
print(f'Duplicate elements in array along with lenght {duplicate_check(arr)}')

Unique items in array is [1 2 3 4 5 6 7]
Count of items is [2 3 1 1 4 1 2]
Duplicate elements in array along with lenght ([1, 2, 5, 7], 4)